<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Cup</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=DotGothic16&family=Notable&family=Roboto:wght@300&family=Staatliches&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div id="hero">    
    <header class="links">     
      <h1 class="titles">Tech Cup</h1> 
      <nav>
        <ul>
          <li>
            <a href ="/">Home</a>
          </li>
          <li>
            <a href ="#">Dashboard</a>
          </li>
          <li>
            <a href ="/login">Login</a>
          </li>
          <li>
            <button id="logout" class="btn-logout">Logout</button>
          </li>
        </ul>
      </nav>     
    </header>    
    <h2 class="titles">A blog where you can consume all things tech.</h2>
  </div>
    <main>
      {{{ body }}}
    </main>
    <script src="/javascript/logout.js"></script>
</body>

</html>