<div class="container dash">

  <div class="row d-flex justify-content-center">

    <a class="badge badge-link text-white new-post col-md-6" href="/dashboard/new"><i class="fas fa-plus fa-fw"></i><span class="ml-1">New Post</span></a>

  </div>
  
  {{#if posts.length}}
    <div class="row user-posts">
      <div class="col-12"
        <section>
          <h1 class="post-create your-post">Your Posts</h1>
          <ol>
            {{#each posts as |post|}}

            <li class="post-li">
              <a href="/dashboard/edit/{{post.id}}" class="edit-link">
                <div class="alert past-posts" role="alert">
                  {{post.title}} <span class="ml-1"><i class="fas fa-pencil-alt fa-fw"></i></span> <br> <span id="past-post-date">{{format_date post.created_at}}</span>
                </div>
              </a>
            </li>
            {{/each}}
          </ol>
        </section>
      </div>
    </div>
  {{/if}}
</div>

