<div class="container dash">

  <div class="row d-flex justify-content-center">

    <a class="badge badge-link text-white new-post col-md-6" href="/dashboard/new"><i class="fas fa-plus fa-fw"></i><span class="ml-1">New Post</span></a>

  </div>
  
  {{#if posts.length}}
    <div class="row user-posts">
      <div class="col-12"
        <section>
          <h2 class="post-create your-post">Your Posts</h2>
          <ol>
            {{#each posts as |post|}}
            <li>
              {{> post-info post}}
              <a href="/dashboard/edit/{{post.id}}" class="edit-link"><i class="fas fa-pencil-alt fa-fw"></i><span class="ml-1">Edit post</span></a>
            </li>
            {{/each}}
          </ol>
        </section>
      </div>
    </div>
  {{/if}}
</div>

