<div class="container">
  <div class="row">
    <div class="col-sm-12 ">
      <section class="form-pad">
        <h2 class="post-create">Create New Post</h2>

        <form class="new-post-form">
          <div>
            <label class="post-title" for="post-title">Title</label>
            <br>
            <input type="text" id="post-title" name="post-title" />
          </div>
          <div>
              <textarea class="post-body" name="post-body"></textarea>
          </div>
          <button type="submit" class="btn">Create</button>
        </form>
      </section>
    </div>
  </div>
</div>

  <script src="/javascript/add-post.js"></script>