<div class="container w-75">

  <div class="row">
    <div class="col-12"
      <article class="post">
        <div class="card mx-auto ">
          <div class="card-header text-white">
            <h2 class="single-title">
              {{post.title}}
            </h2>
            <div>
              Posted by {{post.user.username}} {{format_date post.created_at}}
            </div>
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>{{post.post_content}}</p>
            </blockquote>
          </div>
        </div>
      </article>
    </div>
  </div>

  <div class="w-75"></div>

  {{#if loggedIn}}
    <div class="row">
      <div class="col-12">
        <form class="comment-form">
          <div>
            <textarea name="comment-body"></textarea>
          </div>

          <div>
            <button type="submit" class="btn">Add comment</button>
          </div>
        </form>
      </div>
    </div>
  {{/if}}

  <div class="w-75"></div>

  {{> comments post.comments}}

</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}