/*UTLITIES STYLING STARTS*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background: linear-gradient(to right, burlywood, peru, sienna)
}

.titles {
  font-size: 50px; 
}

/*UTLITIES STYLING ENDS*/

/*HEADER STYLING STARTS */

.links {
  padding: 20px 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.links ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
}

.links ul li a {
  font-family: 'Staatliches', cursive;
  margin: 25px;
  border-width: thin;
  text-decoration: none;
  font-size: 25px;
  font-weight: 900;
  color: white;
  transition: 1s;
}

.links ul li a:hover {
  font-size: 30px;
}

header h1 {
  font-family: 'Staatliches', cursive;
  color: white;
}

/*HEADER STYLING ENDS*/

/*HERO STYLING STARTS*/

#hero h2 {
  font-family: 'Staatliches', cursive;
  text-align: center;
  padding: 100px;
  color: white;
}

#hero {
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/andrew-neel-cckf4TsHAuw-unsplash.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 60vh;
}

/*HERO STYLING ENDS*/

/*CARD STYLING STARTS*/
.card{
  margin: 30px;
}

/*CARD STYLING ENDS*/
