/*UTLITIES STYLING STARTS*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: black;
}

.titles {
  font-size: 50px; 
}

/*UTLITIES STYLING ENDS*/

/*HEADER STYLING STARTS */

.links {
  padding: 20px 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.links ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
}

.links ul li a {
  font-family: 'Staatliches', cursive;
  margin: 25px;
  border-width: thin;
  text-decoration: none;
  font-size: 30px;
  font-weight: 900;
  color: white;
}

.links ul li a:hover {
  opacity: 0.5;
}

header h1 {
  font-family: 'Staatliches', cursive;
  color: white;
}

/*HEADER STYLING ENDS*/

/*HERO STYLING STARTS*/

#hero h2 {
  font-family: 'Staatliches', cursive;
  text-align: center;
  padding: 100px;
  color: white;
}

#hero {
background-image: linear-gradient(rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.308)), url(../images/zengxiao-lin-fBZsl463vJQ-unsplash.jpg);
background-position: center;
background-position-y: bottom 100px;
background-repeat: no-repeat;
background-size: cover;
height: 60vh;
}

/*HERO STYLING ENDS*/

/*CARD STYLING STARTS*/
.card{
  margin: 30px;
  border: none;
}

.card-header {
  background-color: rgb(125, 96, 133);
}

/*CARD STYLING ENDS*/

/*FORM STYLING STARTS*/
.btn {
  background-color: rgb(125, 96, 133);
  color: white;
  font-size: 25px;
  margin: 15px;
}

.form-inline {  
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form-inline label {
  margin: 5px 10px 5px 0;
  justify-content: left;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.login-btn {
  padding-left: 70px;
  padding-right: 70px;
}



/*FORM STYLING ENDS*/
